<h1>Blog List</h1>
<%= form_for :articles, url: articles_path  do |articles| %>
  <div>
    <%= articles.label :Title %><br>
    <%= articles.text_field :Title %><br>
    <%= articles.label :Text %><br>
    <%= articles.text_area :Text %><br>
    <%= articles.submit 'Save' %>
  </div>
<% end %>