
<p id="notice"><%= notice %></p>

<p>
  <strong>Articles:</strong>
  <%= @articles.Title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @articles.Text %>
</p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@articles) %></li>
  <li><%= link_to "Destroy", article_path(@articles),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<h2>Add a comment:</h2>
<%= render 'comments/comment' %>


<%= link_to 'Edit', edit_article_path %> |
<%= link_to 'Back', articles_path %>
